<div class="col-md-3">
  <h2>User</h2>

  <%= attachment_image_tag user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg" %>

  <table class="table">
    <tbody>
      <tr>
        <th>Name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>Introduction<br>
        <th><%= user.introduction %></th>
      </tr>
      <tr>
        <th>follows</th>
        <th>
          <%= link_to user_followings_path(user) do %>
            <%= user.followings.count %>
          <% end %>
        </th>
      </tr>
      <tr>
        <th>follower</th>
        <th>
          <%= link_to user_followers_path(user) do %>
            <%= user.followers.count %>
          <% end %>
        </th>
      </tr>
    </tbody>
  </table>

  <% if user.id == current_user.id %>
    <%= link_to "", edit_user_path(user), class: "btn btn-outline-secondary btn-block fas fa-user-cog" %>
  <% else %>
    <%= render "relationships/follow", user: @user %>
  <% end %>

</div>
